<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Mobil</title>
</head>
<body>
    <h1>Tambah Data Fasilitas</h1>
    <form action="/simpan" method="post">
        <input type="text" name="Nama_Mobil"><br>
        <label>Nama_Mobil:</label>
        <input type="text" name="Bahan_Bakar"><br>
        <label>Bahan_Bakar:</label>
        <input type="text" name="Merk_Ban"><br>
        <label>Merk_Ban:</label>
        <input type="number" name="Warna_Mobil"><br>
        <input type="submit" value="Simpan">
    </form>
    
</body>
</html>s